@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}

#upsideDown{
    display:inline-block; 
    transform:rotate(180deg);
}

.cardSize{
    width: 18rem;
}

#timerSize{
    width: 100%; 
    height: 1rem;
}